li{list-style:none ;}
body{
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    background: #625be3;
    position:fixed;
    width: 100%;
}
nav li{
    list-style: none;
    text-decoration: none;  
  }    
  nav {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}
main{background: #EDEAEA;}
.title{
    color: #938DF8;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    display: flex;
    margin-bottom:0px;
 
}
.subtitle{
    color: #C5C0C0;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 0px;
    margin-top:5px;
    display: flex;
}
.intro{
    font-family: 'ABeeZee';
    font-style: normal;
    font-size: 16px;
    display: flex;
    max-width: 490px;
    text-align:center;
    color: black;
}
.title2{
    color: #49BFB3;
    font-family: 'Open Sans';
    font-style: normal;
    margin-right:50px;
}
.conteudo{
    display: flex;
    max-width: 800px;
    margin: auto;
    padding: 30px 0;
}
.descricao{
    color:#828282;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
.itemm{
    margin-bottom:30%;
}
section h4 a{
    color:#2F80ED
}
.texto1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color:black;
}
.title3{
    color: #49BFB3;
    font-family: 'Open Sans';
    font-style: normal;
    margin-right: 50px;
}
.texto2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color:black;
}
.desc{
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: black;
}
#contato {
    background: #625be3;
    height: 198px;
    padding-left:50px;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}
#contato a{
    font-family: 'Open Sans';
    font-style: normal;
    color: #FFFFFF;
    text-decoration:none;
}
#portfolio{
    background: #eeecee;
}
.lista-menu{
    display: flex;
    padding: 20px;
    justify-content:space-evenly;
    width:50%;
}
.lista-menu a{
    color: white;
    text-decoration: none;
}
.intro-content{
    background: #E5E5E5;
    display: flex;
    align-items: center;
    flex-direction: column;
    height:580px;
    padding: 100px;
    margin-bottom:20px;
}
figure{
    margin-bottom:20px;

}
.cont{
    margin-bottom:30%;
    color:#828282;
    font-family: 'Open Sans';
    font-style: normal;
    line-height: 22px;
    max-width: 500px;
    margin: auto;
}
.Minas{
    color: #49BFB3;
    font-family: 'Open Sans';
    font-style: normal;
    display: flex;
    max-width: 800px;
    margin: auto;
    padding: 30px 0;

}

